---
layout: default
title: Customer Data Platform
subtitle: An innovative tool to consolidate all the relevant data pointers pertaining to a customer from various data sources.
meta_title: 'Customer Data Platform'
meta_description: 'An innovative tool to consolidate all the relevant data pointers pertaining to a customer from various data sources.'
body_classes: page-services-list
redirect_from:
- /retail/customer-data-platform/
---
<!--start banner section-->
<div
  style="position: absolute; filter: brightness(0.8); background-image: url(/assets/images/cdp-banner.png); width: 100%; height: 530px;">
  <!-- {% picture "{{relative_url}}/assets/images/cdp-banner.png" --alt cdp %} -->
  <!-- <img src="/assets/images/cdp-banner.png" /> -->
</div>
<div class="container pb-6 cdp-head">
  {% include about_cdp.html %}
</div>
<!--end banner section-->
<div class="navbar_wrap">
  <div class="navbar-cdp">
    <ul>
      <li onclick="scrollToTop('whatwedo')"> What we do</li>
      <li onclick="scrollToTop('work')"> Solutions</li>
      <li onclick="scrollToTop('case-study')">Case Study</li>
      <li onclick="scrollToTop('retail-blog')">Blog</li>
    </ul>
  </div>
</div>
<!-- start section 1 -->
<div class="strip strip-grey pt-6 pb-10 splash splash-one">
  <div class="container">
    <div class="row" style="margin-top: 1px;">
      <div class="col-12 {% if site.params.homepage.splash_one_image %}col-md-6{% else %}col-md-12{% endif %}"
        style="margin-top:63px" data-aos="fade-up">
        <h3 style="font-weight: 800; font-size: 25px; padding-bottom: 14px;">Unlock the true potential
          of your Customer’s Data</h3>
        <ul
          style="list-style-type: disc; list-style-position: outside; padding-bottom: 20px; font-size: 19px; padding-left: 20px;">
          <li style="padding-bottom: 20px;"> When and how do my customers engage with my platform? </li>
          <li style="padding-bottom: 20px;"> How often do my customers use my product/services? </li>
          <li style="padding-bottom: 20px;"> What is the best time and best way to reach out to my customers? </li>
          <li style="padding-bottom: 20px;"> How long does it take for my customers to place their first order?</li>
        </ul>
      </div>

      <div class="col-12 col-md-6 " data-aos="fade-right">
        {% picture "{{relative_url}}/assets/images/cdp-solution.png" --alt retailstore %}
      </div>
    </div>
  </div>
</div>
<!-- end start section 1 -->

<!--start process section -->
<div class="strip strip-white" id="whatwedo">
  <div class="pt-6">
    <div class="container d-md-block" style="padding-bottom: 50px;">  
      <div class="row justify-content-center">
        <div class="col-12">
          <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">What do we do?</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="home-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="partners">
            <div class="partner" style="padding-bottom: 40px;">
              <img src="/assets/images/process.png" style="width:100%;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end process section -->

<!--start cdp-work section-->
<div class="strip strip-white" id="work">
  <div class="intro intro-big">
    <div class="container">
      <div class="row">
        <div class="col-12" data-aos="fade-up">
          <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">Some of our impactful
            work
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-6">
    <div class="row">
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/ai.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>AI and ML based customer <br> identification engine</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/coupon.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Smart couponing- right offers, <br>at right time for right people</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/value.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Increasing Customer <br> Lifetime Value </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/insight.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Niche customer <br>demographic insights
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/journey.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Customer on-site <br>journey visualizer </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          <div class="service-image ">
            <img src="/assets/images/omni.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Omni-Channel <br> Retail Business</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end cdp-work section-->
{% include case-study.html %}
{% include retail-blog.html %}
<!-- start customer testimonial -->
<div class="strip strip-bg-primary pt-6 pb-10 splash splash-one" style="background-color: #12aecc;" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 " data-aos="fade-right">
        <video width="100%" height="315" controls poster="/assets/images/manish-thumb.png" preload="auto" class="video">
          <source src="assets/videos/manish_fnp.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 {% if site.params.homepage.splash_one_image %}col-md-4{% else %}col-md-12{% endif %}"
        data-aos="fade-up">
        <h4 style="text-transform: uppercase; letter-spacing: 4px;">Customer Testimonial</h4>
        <h2 style="color: white;">BluePi Helps FnP improve conversions using personalised notifications | Testimonial by
          Manish Saini</h2>
      </div>
    </div>
  </div>
</div>
<!--end customer testimonial -->
{% include demo-resource.html %}