<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div data-aos="fade-right">
                <h4 style="color: rgb(69, 198, 172); text-transform: uppercase; letter-spacing: 4px;">BFSI</h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 49px; line-height: 65px;">Banking, Financial<br> Services and Insurance</h1>
                <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; padding-top: 18px;">Unlocking trapped value and driving key business outcomes for banks, financial institutions, and insurance players.</h3>
            </div>

        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->