<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
        {% picture "{{relative_url}}/assets/images/privacy.png" --alt privacy policy %}
    </div>
    <div class="about_right">
        <div class="about_right_content onova_content" style="padding-top: 100px;">
            <div>
                <h4 style="color: rgb(8, 156, 255); text-transform: uppercase; letter-spacing: 4px ;">Our Privacy Statement</h4>
                <h2 style="color: rgb(255, 255, 255);">At BluePi, accessible from www.bluepiit.com, one of our main priorities is the privacy of our visitors. </h2>
            </div>
        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->