<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
        {% picture "{{relative_url}}/assets/images/aws_hero.png" --alt retailstore %}
    </div>
    <div class="about_right">
        <div class="about_right_content onova_content">
            <h2>About Partnership</h2>
            <h3>We as an organisation have always been proud of our agility to pick up
                latest and greatest in technology.</h3>
            <div>
                <p>
                    Since the inception of BluePi in 2012, we have been AWS partners.
                    Most of the solutions we have developed for ourselves as well as
                    for our customers have been deployed on AWS, this is a testimony
                    to our trust and also deep knowledge of AWS ecosystem. We as an
                    organisation have always been proud of our agility to pick up
                    latest and greatest in technology breakthroughs, and help our
                    customers implement them. This works very well with AWS, which
                    as a platform is always innovating, keep all of the partners on
                    their toes. In our association with AWS we have delivered some
                    of the largest migrations in India, since the launch of India
                    data centers. We look at AWS as blazing ahead, disrupting the
                    business as usual and inspiring us all to follow the lead.
                </p>
            </div>
        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->