<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: #fff; text-transform: uppercase; letter-spacing: 4px; font-size: 20px;">
                    Application Modernization
                </h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 46px; line-height: 46px;">Achieve agility and efficiency by transforming the legacy applications in your enterprise.</h1>
                <!-- <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px;">Strategic and operational planning based on our proprietary methodology </h3> -->
                <!-- <p style="font-size: 11px; font-style: italic; color: white; margin-bottom: 0;"> - Mike Gospe (author of
                    “Marketing High Ground”)</p> -->
            </div>
        </div>
        <div class="col-12 cdp-button sm-text-center">
            <a class="button button-primary" href="/contact-us">Request a Demo</a>
          </div>
    </div>
</div>

<!-- End onova_about section -->