<!-- Start onova_about section -->
<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: #1c3ed3; text-transform: uppercase; letter-spacing: 4px; font-size: 20px;">
                    Data Science & AI/ML
                </h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 45px; line-height: 45px; margin-bottom: 0px;">
                    Use Your Data To Gain Competitive Edge, Improve Efficiency, Reduce Costs
                </h1>
                <!-- <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px;">
                    At BluePi we help you leverage the power of Data Science to build customised model that helps our customer define the next course of action depending on the outcome of the model
                </h3>
                <p style="font-size: 11px; font-style: italic; color: white; margin-bottom: 0;">
                    Transform your business from instinctive to data driven decision making </p> -->
            </div>
        </div>
        <div class="col-12 cdp-button sm-text-center">
            <a class="button button-primary" href="/contact-us">Request a Demo</a>
          </div>
    </div>
</div>
<!-- End onova_about section -->
