<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div data-aos="fade-up">
                <h4 style="color: rgb(23, 198, 252); text-transform: uppercase; letter-spacing: 4px;">RETAIL</h4>
                <h1 class="head-font">New Retail <br>Marketspace</h1>
                <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; padding-top: 18px;">Supply chains, inventory management, and digital  <br> user experience can no longeroperate in separate silos…</h3>
            </div>

        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->