<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
        {% picture "{{relative_url}}/assets/images/teamwork.png" --alt career %}
    </div>
    <div class="about_right" style="padding-top: 100px;">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: rgb(23, 198, 252); text-transform: uppercase; letter-spacing: 4px;">Join our Team</h4>
                <h2 style="color: rgb(255, 255, 255);">We are a fun-loving team, full of data-driven innovators creative
                    thinkers, and passionate collaborators.</h2>
            </div>
            
        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
                <script type="text/javascript" src="https://bluepiit.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-dtzt95/b/3/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?jsI18nTransformer=migrated&locale=en-US&collectorId=ea0528f9"></script>
                <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
                  "triggerFunction": function(showCollectorDialog) {
                      //Requires that jQuery is available! 
                      jQuery("#myCustomTrigger").click(function(e) {
                          e.preventDefault();
                          showCollectorDialog();
                      });
                  }};</script>
              <body>
                  <div class="col-12" style="z-index: 2;">
                  <a href="#" id="myCustomTrigger" class='button button-primary submit-btn' style="padding: 20px 74px 20px 74px; margin-bottom: 100px; border: 1px solid; margin-top: 23px;">Apply Now</a>
                </div>
                </body>
    </div>
</div>

<!-- End onova_about section -->