<!-- Start onova_about section -->
<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: #1c3ed3; text-transform: uppercase; letter-spacing: 4px; font-size: 20px;">
                    Big Data Solutions
                </h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 45px; line-height: 45px;">
                    Organised, Enriched, Accessible Data solution for all different use cases
                </h1>
                <!-- <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px;">
                    Organised, Enriched, Accessible Data solution for all different use cases
                </h3>
                <p style="font-size: 11px; font-style: italic; color: white; margin-bottom: 0;">
                    Transform your business from instinctive to data driven decision making </p> -->
            </div>
        </div>
        <div class="col-12 bigdata-button sm-text-center">
            <a class="button button-primary" href="/contact-us">Request a Demo</a>
          </div>
    </div>
</div>

<!-- End onova_about section -->
