<!--start cdp-work section-->
<div class="strip strip-white" id="solutions">
  <div class="intro intro-big">
    <div class="container">
      <div class="row">
        <div class="col-12" data-aos="fade-right">
          <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">How Acquirer solutions
            help you ??
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-6">
    <div class="row">
      <div class="col-12 col-md-4 mb-3" data-aos="fade-right">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/ai.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>One view of Data for decision & business a nalytics
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-left">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/coupon.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Intuitive and easy UI
              based dispute
              management &
              reconciliation portal
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-right">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/value.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>AIML based automated
              vehicle class detection
              model (trained on real
              world images)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-left">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/insight.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <p>Scalable solutions to
              handle your growing
              business
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-right">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/journey.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <P>Top Line growth
              by plugging revenue
              leakages at the plaza
            </P>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3" data-aos="fade-right">
        <div class="service service-summary radius" style="align-items: center;
        background: #f5f5f5;">
          <div class="service-image">
            <img src="/assets/images/journey.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <P>Cost optimization by
              driving operational
              efficiencies and weeding
              out manual interventions </P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end cdp-work section-->