<!-- Start onova_about section -->
<section class="onova_about onova_about_3 section_padding" style="border-top: 1px solid #d0e7fa; border-bottom: 1px solid #d0e7fa; margin-top: 17px;">
    <div>
        <div class="d-flex align-items-left">
            <div class="about_img onova_img about_img_3 " data-wow-delay="0.3s" style="width: 15%;">
                {% picture "{{relative_url}}/assets/images/blog/parth.png" --img class="img-fluid" --img style="width:70%; height:auto; border-radius:50%;" --alt Gadoya Parth %}
            </div>
            <div class="about_right" style = "margin: 60px 0 60px 0">
                <div class="about_content about_content_3 onova_content_box">
                    <span class="theme_span_blog">Written by</span>
                    <h5><a href="https://www.linkedin.com/in/parth-gadoya-804420103/"> Gadoya Parth </a></h5>
                        <p>Associate Data Scientist</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End onova_about section -->
