<!--start section 4-->
<div class="strip strip-grey" data-aos="zoom-in" id="solution">
    <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px; padding-top: 73px;">BFSI SOLUTIONS</h3>
    <div class="container">
      <div class="justify-content-center">
        <div class="col-12 col-md-12 mb-2 pb-10 flex-box-ai">
          <div class="service service-summary box" style="border-radius: 10px" data-aos="fade-up"> 
            <div class="feature-image" style="float: left; width: 100px; margin-right: 25px;">
              {% picture "{{relative_url}}/assets/images/risk.png" --alt cdp %}
            </div>
            <h4 class="feature-title" style="font-size: 30px; font-weight: 800; padding-top: 10px;">Credit Risk Profiling</h4>
            <p>AI/ML based credit risk assessment for customers with limited or no credit history</p>
            <!-- <div>
              <a class="service-read-more" href="#" target="blank">Read
                More<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
            </div> -->
          </div>
          <div class="service service-summary box" style="border-radius: 10px" data-aos="fade-up">
            <div class="feature-image" style="float:left; width: 100px; margin-right: 25px;">
              {% picture "{{relative_url}}/assets/images/toll.png" --alt sco %}
            </div>
            <h4 class="feature-title" style="font-size: 30px; font-weight: 800; padding-top: 10px;">Toll Acquirer Automation System</h4>
            <p>AI/ML based toll violation detection, automated MIS reporting, case management and invoice settlement</p>
            <div>
              <a class="service-read-more" href="{{relative_url}}/industries/bfsi/toll-acquirer-automation">Read
                More<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end section 4-->