<!--start cdp-work section-->
<div class="strip strip-white" id="work">
  <div class="intro intro-big">
    <div class="container">
      <div class="row">
        <div class="col-12" data-aos="fade-up">
          <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">OTHER BFSI SOLUTIONS
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-6 solution-width">
    <div class="row">
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h5 style="color: #1eba9f;text-transform: uppercase;">Customer Experience </h5>
          </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h5 style="color: #1eba9f;text-transform: uppercase;">Analytics & AI Powered Operations</h5>
          </div>
      </div>


      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/360.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">360° Customer View</h2>
            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/risk-analytics.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;"> 
            <h2 style="color: #ffffff;">Claim Propensity & <br>Risk Analytics</h2>
            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/marketing.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">Marketing Personalization</h2>
           
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/business-report.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;" >Business Performance Reporting</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/digital-onboard.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">Digital Onboarding</h2>
           
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/udp.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">Unified Data Platform</h2>
            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/churn.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">Churn Prediction <br>& Prevention</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius box-gradient" style="align-items: center;">
          <div class="service-image">
            <img src="/assets/images/cross-sell.png" />
          </div>
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2 style="color: #ffffff;">Cross-Sell/Up-Sell<br>Analytics</h2>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end cdp-work section-->