<!--case study section start-->
<div class="strip strip-grey pb-10 pt-6" id="retail-blog">
    <div class="container d-none d-md-block">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">BFSI Blogs</h3>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="box">
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/how-data-can-be-governed-effectively-in-the-middle-of-security-concerns">Effective data governance in the middle of security concerns?</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Today, that notion has multiplied 10x, and the organizations are looking for an in-depth understanding of all areas </p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/how-data-can-be-governed-effectively-in-the-middle-of-security-concerns">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="box">
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/customer-data-platform-features">What is a customer data platform?</a></h2>
                    </div>
                    <div class="post-content">
                        <p>CDP is defined as a packaged software that centralizes customer data from all sources </p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/customer-data-platform-features">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="box">
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/what-is-demand-forecasting-in-retail">Are you ready for AI models impact on retail sales?</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Manufacturers across different industries are losing trillions of dollars in productivity each year.</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/what-is-demand-forecasting-in-retail">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 text-center" style="margin-top: 28px;">
                <a class="button button-primary text-center" style="background:black" href="{{ 'blog' | relative_url }}">Read All Blogs</a>
            </div>
        </div>
    </div>
</div>