<!--case study section start-->
<div class="strip pb-10 pt-6" id="case-study">
    <div class="container d-none d-md-block">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">Case studies</h3>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/nbfc.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/case-study/bluepi-helped-new-age-nbfc">Helps new age NBFC in risk profiling, personalization & cross selling</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Partner selection based on their leads and the leads performance, risk profiling, campaign personalisation and cross selling</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/case-study/bluepi-helped-new-age-nbfc">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/insurance.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/case-study/customer-risk-profiling">Customer Risk Profiling system for life insurance provider</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Calculate their risk averseness. Understanding how risky is each customer is important to pitch them relevant products, detect frauds, etc.</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/case-study/customer-risk-profiling">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 text-center" style="margin-top: 28px;">
                <a class="button button-primary text-center" style="background:black" href="{{ 'case-study' | relative_url }}">Read All Case
                    study</a>
            </div>
        </div>
    </div>
</div>