<!-- media-coverage Section -->

<div class="container pt-10 pb-10">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-3" style="letter-spacing: 4px; text-transform: uppercase;">Career at BluePi
            </h2>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 mb-2">
            <div class="service service-summary">
                <div class="service-title">
                    <h2><a href="/career/data-engineer/" style="text-decoration: none;">Data Engineer |
                            Big data</a></h2>
                </div>
                <div class="quote-text">
                    <p>Write performant, clean code in pySpark for batch and/or realtime pipelines |
                        Have an in-depth understanding of pySpark APIs to follow the best practices and write
                        performant code</p>
                </div>
                <div class="service-link">
                    <a class="service-read-more" href="/career/data-engineer/" target="blank">Read JD &
                        Apply<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="service service-summary">
                <div class="service-title">
                    <h2><a href="/career/technical-architect/" style="text-decoration: none;">Technical
                            Architect</a></h2>
                </div>
                <div class="quote-text">
                    <p>Do High and low-level technical designs for projects in different technical areas like
                        realtime analytics, data warehousing, data lakes. |
                        Build and deploy cloud-native solutions on AWS</p>
                </div>
                <div class="service-link">
                    <a class="service-read-more" href="/career/technical-architect/" target="blank">Read JD &
                        Apply<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 pt-4 text-center">
            <a class="button button-primary" href="{{ 'career' | relative_url }}">View All
                our openings </a>
        </div>
    </div>
</div>