<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_right ml-0">
        <div class="about_right_content onova_content">
            <div data-aos="fade-up">
                <h4 style="color: rgb(23, 198, 252); text-transform: uppercase; letter-spacing: 4px;">BluePi Case Studies</h4>
                <h1 style="color: rgb(58, 57, 57); font-size: 10vh; line-height: 65px;">Welcome to our Case Study</h1>
                <h3 style="color: rgb(26, 25, 25); font-size: 20px; line-height: 30px; padding-top: 18px;">Explore how we fulfill our customer's needs and assist them with achieving their objectives</h3>
            </div>

        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->