<!-- Start onova_about section -->
<div class="about_container" style="margin-top: 250px;">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: rgb(71, 2, 233); text-transform: uppercase; letter-spacing: 4px; font-size: 20px;">
                    CUSTOMER DATA PLATFORM</h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 46px; line-height: 46px;">Whoever understands the
                    customer best, wins </h1>
                <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; padding-top: 20px;">Successful and strategic
                    implementation of CDP can help your company improve your ROI on marketing spends</h3>
                <p style="font-size: 11px; font-style: italic; color: white; margin-bottom: 0;"> - Mike Gospe (author of
                    “Marketing High Ground”)</p>
            </div>
        </div>
        <div class="ds-flex">
            <div class="col-12 col-md-5 pt-4 sm-text-center" style="padding: 0;">
                <a class="button button-primary" href="/contact-us">Request a Demo</a>
            </div>
            <div class="col-12 col-md-6 pt-4 sm-text-center">
                <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer>
                </script> <button data-leadbox-popup="CBhdseVHVRCu5PSGJH4DJk" data-leadbox-domain="bluepiconsulting.lpages.co"
                    style="background: rgb(252, 253, 253); border-radius: 3px;color: #0b39ee;display: inline-block;vertical-align: middle;padding: 17px 21px;min-width: 356px;border: 1px solid rgb(250, 251, 252);font-size: 1rem; font-weight: 700; text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; text-transform: uppercase; letter-spacing: 1px;">Download
                    Complete CDP Guide </button>
            </div>
        </div>
    </div>
</div>
<!-- End onova_about section -->