<div class="strip strip-third">
    <div class="container pt-15 pb-15 sm-text-center ds-flex" >
        <div class="col-12 col-md-6 justify-content-between">
            <h2 class="text-white d-block">Ready to get started?</h2>
            <a href="/contact-us" class="button button-white mt-1">REQUEST A DEMO</a>

        </div>
        <div class="col-12 col-md-6 justify-content-between cdp-cta">
            <h2 class="text-white d-block">Want to know more?</h2>
            <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer>
            </script> <button data-leadbox-popup="CBhdseVHVRCu5PSGJH4DJk" data-leadbox-domain="bluepiconsulting.lpages.co"
                style="background: rgb(0, 119, 255);border-color: rgb(0, 119, 255);border-radius: 3px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 21px 21px;min-width: 280px;border: 1px solid rgb(0, 119, 255);font-size: 1rem;font-family: Helvetica, Arial, sans-serif;font-weight: 500; text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; text-transform: uppercase; letter-spacing: 1px;">Download
                Complete CDP Guide </button>

        </div>
    </div>
</div>