<div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
    </div>
    <div class="about_right">
        <div class="about_right_content onova_content" style="padding-top:100px;">
            <h4 style="color: rgb(0, 174, 255); text-transform: uppercase; letter-spacing: 4px;">Life at BluePi</h4>
            <h2 style="color: rgb(255, 255, 255);">
                What really makes a difference is our passion for delivering value and excedding expectation.
            </h2>
        </div>
        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->
