<!-- Start onova_about section -->

<div class="about_container">
    <div class="about_left wow slideInLeft" data-wow-duration="1s">
        {% picture "{{relative_url}}/assets/images/media.png" --alt media-image %}
    </div>
    <div class="about_right">
        <div class="about_right_content onova_content" style="padding-top:100px;">
            <h4 style="color: rgb(0, 174, 255); text-transform: uppercase; letter-spacing: 4px;">Media Coverage</h4>
            <h2 style="color: rgb(255, 255, 255);">
                Welcome to the Media Coverage section, where you can find everything you need for BluePi news and other useful information
            </h2>
        </div>
        </div>
        <!-- <div class="onova_button  wow slideInUp">
                    <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                </div> -->
    </div>
</div>

<!-- End onova_about section -->