<!--start media coverage -->
<div class="container pb-6">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/DFM_Logo-copy.jpg" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.digitalfirstmagazine.com/innovation-in-tech-and-leadership/"
                            style="text-decoration: none;">Innovation in Tech and Leadership
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>With a goal to create the next generation of highly skilled and motivated professionals, Ms Anjna Bhati, the co-founder of BluePi Technologies, strives towards making a meaningful impact at work. 
                    </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.digitalfirstmagazine.com/innovation-in-tech-and-leadership/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/crn_news.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.crn.com.au/news/indias-bluepi-consulting-launches-anz-operations-578301"
                            style="text-decoration: none;">India's BluePi Consulting launches ANZ operations
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Indian AWS consultancy BluePi Consulting (BluePi) has launched its first international operations in Sydney and named a new ANZ boss, Gaurav Sharma.
                    </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.crn.com.au/news/indias-bluepi-consulting-launches-anz-operations-578301"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/arn.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.arnnet.com.au/article/696823/indian-aws-partner-bluepi-consulting-lands-nz/"
                            style="text-decoration: none;">Indian AWS partner BluePi Consulting lands in A/NZ
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>India-founded Amazon Web Services (AWS) partner BluePi Consulting has launched an operation in Australia and New Zealand. </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.arnnet.com.au/article/696823/indian-aws-partner-bluepi-consulting-lands-nz/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/ITWire_more_than_tech_news.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://itwire.com/it-people-news/people-moves/bluepi-consulting-selects-sharma-as-anz-ceo,-opens-sydney-office.html"
                            style="text-decoration: none;">
                            BluePi Consulting selects Sharma as ANZ CEO, opens Sydney office
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>India based data-driven business transformation specialist BluePi Consulting has appointed Gaurav Sharma to the role of CEO for Australia and New Zealand, following the opening of the company's first international operations in Sydney.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://itwire.com/it-people-news/people-moves/bluepi-consulting-selects-sharma-as-anz-ceo,-opens-sydney-office.html"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/consultancy_news.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.consultancy.com.au/news/5264/bluepi-consulting-picks-australia-for-first-international-expansion"
                            style="text-decoration: none;">BluePi Consulting picks Australia for first international expansion
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Australia has been selected for BluePi Consulting’s first international expansion out of India, with the tech advisory launching a Sydney office and appointing Gaurav Sharma as regional CEO.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.consultancy.com.au/news/5264/bluepi-consulting-picks-australia-for-first-international-expansion"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/india-today.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.indiatoday.in/pr-newswire?rkey=20211223EN16173&filter=4315"
                            style="text-decoration: none;">BluePi partners with Snowflake to enable the fast-growing BFSI sector to generate data insights, at scale
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>We are indeed happy to partner Snowflake, the global technology leader in Data Cloud and consider this an important milestone in our path towards technological excellence.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.indiatoday.in/pr-newswire?rkey=20211223EN16173&filter=4315"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/cxo.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.cxotoday.com/big-data/top-tech-mantras-for-retail-industry-success-in-2022/"
                            style="text-decoration: none;">Top Tech Mantras for Retail industry Success in 2022
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>In 2022, we will see an increase in the number of retail organizations deploying technology to connect better and profitably with their customers.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.cxotoday.com/big-data/top-tech-mantras-for-retail-industry-success-in-2022/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/newsletter.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://apacnewsnetwork.com/2021/11/we-understand-the-use-of-compliances-in-solution-and-services/"
                            style="text-decoration: none;">We Understand the use of Compliances in Solution and Services
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>The idea of BluePi is to leverage the correct data in the form of information and use these data to transform the businesses.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://apacnewsnetwork.com/2021/11/we-understand-the-use-of-compliances-in-solution-and-services/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/et-cio.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://cio.economictimes.indiatimes.com/news/next-gen-technologies/what-to-do-when-your-ml-model-suffers-from-overconfidence/87500302"
                            style="text-decoration: none;">What to do when your ML model suffers from overconfidence?
                        </a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>The challenges that any company may face include failure of the supply chain, wrong price, and cost estimations which are the pillars for any company.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://cio.economictimes.indiatimes.com/news/next-gen-technologies/what-to-do-when-your-ml-model-suffers-from-overconfidence/87500302"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/rt.png" />
                </div>
                <div class="service-title">
                    <h3><a href="http://theretailtimes.co.in/demand-forecasting-in-retail/"
                            style="text-decoration: none;"> Demand
                            Forecasting in Retail</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Demand forecasting in retail will help a business understand how much product would sell at
                            any given
                            time in the future, which can help them tackle the two most important challenges that such
                            businesses face
                            –Stock Outs and Excess Inventory.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more" href="http://theretailtimes.co.in/demand-forecasting-in-retail/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/zeebiz.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.zeebiz.com/india/news-budget-2021-expectations-live-here-is-what-india-wants-check-latest-news-updates-demands-here-146814"
                            style="text-decoration: none;"> Here is what India wants - Check latest news, updates,
                            demands here</a>
                    </h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>We expect the government to broaden the MSME umbrella and announce special packaged for
                            retailers under
                            MSME so that they can tide over these challenging times.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.zeebiz.com/india/news-budget-2021-expectations-live-here-is-what-india-wants-check-latest-news-updates-demands-here-146814"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/dh.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.deccanherald.com/business/union-budget/budget-2021-expect-the-government-to-broaden-the-msme-umbrella-says-bluepi-consulting-ceo-945183.html"
                            style="text-decoration: none;">Budget 2021 | Expect the government to broaden the MSME
                            umbrella, says
                            BluePi Consulting CEO</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Retail industry came to a virtual standstill during the pandemic and was one of the worst-hit
                            sectors.
                            The cascading effects impacted the entire value chain that serves the industry.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.deccanherald.com/business/union-budget/budget-2021-expect-the-government-to-broaden-the-msme-umbrella-says-bluepi-consulting-ceo-945183.html"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/dataquest.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.dqindia.com/heres-what-industry-experts-expect-from-union-budget-2021/"
                            style="text-decoration: none;">Here’s what industry experts expect from Union Budget
                            2021</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Retail industry came to a virtual standstill during the pandemic and was one of the worst-hit
                            sectors.
                            The cascading effects impacted the entire value chain that serves the industry.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.dqindia.com/heres-what-industry-experts-expect-from-union-budget-2021/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/inc42.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://inc42.com/resources/customer-experience-and-retail-tech-will-shape-retail-industry-in-2021/"
                            style="text-decoration: none;">Customer Experience And Retail Tech Will Shape Retail
                            Industry In 2021</a>
                    </h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Predictive analytics will be extensively used for demand forecasting, logistics and providing
                            recommendations by transforming data into actionable insights</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://inc42.com/resources/customer-experience-and-retail-tech-will-shape-retail-industry-in-2021/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/rt.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://theretailtimes.co.in/challenges-in-retail-forecasting/#"
                            style="text-decoration: none;">Challenges in retail forecasting</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Like in the case of most industries, retail too, is being driven forth and ahead with
                            data.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more" href="https://theretailtimes.co.in/challenges-in-retail-forecasting/#"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/techgig.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://content.techgig.com/vocalforlocal-bluepi-consulting-india-pvt-ltd-is-strengthening-the-supply-chain-market-through-tech-innovations/articleshow/79063331.cms"
                            style="text-decoration: none;">BluePi Consulting India Pvt Ltd is strengthening the supply
                            chain market
                            through tech innovations</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>To improve the way supply chains operate across all dimensions - products, services and
                            processes,
                            BluePi has ingrained innovation in all its solutions</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://content.techgig.com/vocalforlocal-bluepi-consulting-india-pvt-ltd-is-strengthening-the-supply-chain-market-through-tech-innovations/articleshow/79063331.cms"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/ETprime.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://economictimes.indiatimes.com/prime/consumer/fast-fashion-brands-are-prepping-up-for-a-post-pandemic-world-an-agile-supply-chain-can-help-/primearticleshow/76375052.cms"
                            style="text-decoration: none;">Fast-Fashion
                            Brands Are Prepping Up For A Post-Pandemic World. An Agile Supply
                            Chain Can Help.</a></h3>
                </div>
                <div class="quote-text" style="text-align: justify;">
                    <q>Fast fashion retailers in India most likely will need another 12-18 months, for sales to reach
                            FY20 levels.The summer sales for this year have been mostly wiped out. Most of this
                            inventory would
                            beextended to the next seasons, with a bleak outlook in uptake</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://economictimes.indiatimes.com/prime/consumer/fast-fashion-brands-are-prepping-up-for-a-post-pandemic-world-an-agile-supply-chain-can-help-/primearticleshow/76375052.cms"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/pcquest.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.pcquest.com/hands-free-retail-intelligent-retail-soon-big/"
                            style="text-decoration: none;">Hands-Free Retail And
                            Intelligent Retail—How Soon, How Big?</a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>The core of the solution is the ability to understand the deep patterns of data, and to be
                            able to
                            forecast what is most likely to happen in the future. </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.pcquest.com/hands-free-retail-intelligent-retail-soon-big/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/bs.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.business-standard.com/article/companies/cooking-up-a-storm-to-make-the-most-of-the-home-bound-consumer-demand-120062100646_1.html"
                            style="text-decoration: none;">Cooking
                            Up A Storm To Make The Most Of The Home-Bound Consumer Demand</a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>RTE-RTC players have ramped up production, distribution, and lapped up the opportunity with
                            both hands
                            for launching new products </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.business-standard.com/article/companies/cooking-up-a-storm-to-make-the-most-of-the-home-bound-consumer-demand-120062100646_1.html"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/indianretailer.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.indianretailer.com/article/technology/in-store/how-technology-assures-growth-of-fashion-retail-and-challenges-associated.a6606/"
                            style="text-decoration: none;">How
                            Technology Assures Growth Of Fashion Retail And Mitigate Challenges ?</a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>Corporatization of retail is gaining more importance in the fashion products segment,
                            enhancing the
                            retail ecosystem in India.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.indianretailer.com/article/technology/in-store/how-technology-assures-growth-of-fashion-retail-and-challenges-associated.a6606/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/indiaretailing.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.indiaretailing.com/2020/06/02/retail/covid-19-role-of-technology-in-smooth-resumption-of-retail/"
                            style="text-decoration: none;">COVID-19:
                            Role Of Technology In Smooth Resumption Of Retail
                        </a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>Retail technology companies would have to think out of the box to adapt to the new challenges.
                            We are
                            some time away from reaching the “business as usual” stage, till then, the key to success
                            would be
                            perception, adaptability and agility.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.indiaretailing.com/2020/06/02/retail/covid-19-role-of-technology-in-smooth-resumption-of-retail/"
                        target="blank">Read Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/mag.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://analyticsindiamag.com/top-data-science-service-providers-in-india-2019/"
                            style="text-decoration: none;">Top
                            Data Science Service Provider In India 2019
                        </a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>With an aim to be the most sought-after data-driven business transformation organisation, they
                            believe
                            that data science technologies are only helpful in the context of the specific business
                            problem it is
                            being used to solve.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://analyticsindiamag.com/top-data-science-service-providers-in-india-2019/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/enterpreneur.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.entrepreneur.com/article/320401" style="text-decoration: none;">How To
                            Generate
                            B2B Leads When Your Budget Is Low
                        </a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>Referrals worked well for us because the leadership team at BluePi had connections with the
                            industry.
                            LinkedIn has been a great source to get leads too. Conversion rates are low whenever we have
                            mass emailed
                            a list of contacts.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more" href="https://www.entrepreneur.com/article/320401" target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/bloomberg.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.bloomberg.com/news/articles/2020-08-18/asia-s-richest-man-goes-shopping-after-20-billion-stakes-sale"
                            style="text-decoration: none;">Asia’s Richest Man Is On A Shopping Spree In Race
                            Against Amazon
                        </a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>In the next five years, we see one retail organization taking up the pole position. With these
                            acquisitions Reliance is priming to be the clear leader.</q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.bloomberg.com/news/articles/2020-08-18/asia-s-richest-man-goes-shopping-after-20-billion-stakes-sale"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 aos-init" data-aos="fade-up">
            <div class="service service-summary box">
                <div class="media-image">
                    <img src="/assets/images/dynamic-cio.png" />
                </div>
                <div class="service-title">
                    <h3><a href="https://www.dynamiccio.com/merely-being-digital-wont-cut-the-ice-anjna-bhati-bluepi-consulting/"
                            style="text-decoration: none;">Merely Being Digital Won’t Cut the Ice: Anjna Bhati, BluePi Consulting
                        </a></h3>
                </div>
                <div       class="quote-text" style="text-align: justify;">
                    <q>We take pride in having one of the industry best NPS scores from our business partners. This has constantly inspired us to do more and keep innovating. </q>
                </div>
                <div class="service-link">
                    <a class="service-read-more"
                        href="https://www.dynamiccio.com/merely-being-digital-wont-cut-the-ice-anjna-bhati-bluepi-consulting/"
                        target="blank">Read
                        Full News<i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end media coverage-->
