<!-- media-coverage Section -->
<div class="strip">
    <div class="container pt-10 pb-10">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-3" style="letter-spacing: 4px; text-transform: uppercase;">Our Recent wins
                </h2>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 mb-2">
                <div class="service team-summary">
                    <div class="service-title">
                        <h2>One of the largest Quick Service Restaurants</h2>
                    </div>
                    <div class="quote-text">
                        <h4><strong>Name:</strong> Data Lake </h4>
                        <p><strong>Description: </strong> Build a Data warehouse platform ground up to analyse
                            operational and sales metrics and aid executive decision making </p>
                        <p><strong>Technologies:</strong> Snowflake, AWS S3, Athena, Databricks DMS & PowerBI</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-2">
                <div class="service team-summary">
                    <div class="service-title">
                        <h2>Fastest Growing Online Real estate Company</h2>
                    </div>
                    <div class="quote-text">
                        <h4><strong>Name:</strong> Data Lake </h4>
                        <p><strong>Description: </strong> Build a Data warehouse platform ground up to analyse
                            operational and sales metrics and aid executive decision making. Multiple Machine learning
                            solutions to automate sales and operational processes intelligently. </p>
                        <p><strong>Technologies:</strong> Snowflake, AWS S3, Athena, Databricks DMS & PowerBI</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-2">
                <div class="service team-summary">
                    <div class="service-title">
                        <h2>A Leading Private Retail Bank in India </h2>
                    </div>
                    <div class="quote-text">
                        <h4><strong>Name:</strong> Data Lake </h4>
                        <p><strong>Description: </strong> Build a data lake platform on AWS </p>
                        <p><strong>Technologies:</strong> snowflake, AWS S3, Athena, DMS, Databricks</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <div class="service team-summary">
                    <div class="service-title">
                        <h2>Largest EXIM data solutions provider</h2>
                    </div>
                    <div class="quote-text">
                        <h4><strong>Name:</strong> Data Discovery and Search portal </h4>
                        <p><strong>Description: </strong> An end to end data processing, warehousing and search portal </p>
                        <p><strong>Technologies:</strong> AWS S3, Athena, Elastic Search, Spring, Microservices, K8S</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 pt-4 text-center">
                <a class="button button-primary" href="{{ 'career' | relative_url }}">View All
                    our openings </a>
            </div> -->
        </div>
    </div>
</div>