<!--case study section start-->
<div class="strip strip-grey pb-10 pt-6" id="retail-blog">
    <div class="container d-none d-md-block">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;"> Related Blogs</h3>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/demand-forecast.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/things-to-know-about-ai-in-supply-chain-optimization/">5 Things To Know About AI In Supply Chain Optimization</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Things To Know About Artificial Intelligence For Supply Chain Management</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/things-to-know-about-ai-in-supply-chain-optimization/">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3" >
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/customer-data.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/demand-forecasting-retail-best-practices">Demand forecasting retail-Best practices</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Demand forecasting is a segment of predictive analytics that uses data to understand and predict customer demand.</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/demand-forecasting-retail-best-practices">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/ai-retail.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/blog/what-is-demand-forecasting-in-retail">Are
                                you ready for AI models impact on retail sales?</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Manufacturers across different industries are losing trillions of dollars in productivity
                            each year.</p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/blog/what-is-demand-forecasting-in-retail">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 text-center" style="margin-top: 28px;">
                <a class="button button-primary text-center" style="background:black"
                    href="{{ 'case-study' | relative_url }}">Read All Blogs</a>
            </div>
        </div>
    </div>
</div>