<!--case study section start-->
<div class="strip pb-10 pt-6" id="case-study">
    <div class="container d-md-block">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">Case studies</h3>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/notification.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/case-study/sales-forecasting-solution-for-stockouts">Sales Forecasting solution for Overstocking & Stock Outs!
                            21 February 2018</a></h2>
                    </div>
                    <div class="post-content">
                        <p>Overstocking & stock-outs Using this system, the stores don’t have to rely on in-store manager’s intuition and instead use Artificial Intelligence. </p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/case-study/sales-forecasting-solution-for-stockouts">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="box">
                    <div class="service-image">
                        <img src="{{relative_url}}/assets/images/stocks.png" />
                      </div>
                    <div class="post-title">
                        <h2><a class="h2-head" href="{{ relative_url }}/case-study/big-data-and-realtime-reporting">How BluePi Helped Delhivery with Big Data and Real Time Reporting
                        </a></h2>
                    </div>
                    <div class="post-content">
                        <p>A mix of AWS infra and services like S3, Kinesis, Redshift, Redis with cutting-edge technologies like, Storm were used to build the solution.
                        </p>
                    </div>
                    <div class="post-link"><a class="post-read-more"
                            href="{{ relative_url }}/case-study/big-data-and-realtime-reporting">Read More<i
                                class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
                </div>
            </div>

            <div class="col-12 text-center" style="margin-top: 28px;">
                <a class="button button-primary text-center" style="background:black" href="{{ 'case-study' | relative_url }}">Read All Case
                    study</a>
            </div>
        </div>
    </div>
</div>