<!-- Start onova_about section -->
<div class="about_container">
    <div class="about_right">
        <div class="about_right_content onova_content">
            <div>
                <h4 style="color: #04c1a9; text-transform: uppercase; letter-spacing: 4px; font-size: 20px;">
                    BFSI</h4>
                <h1 style="color: rgb(255, 255, 255); font-size: 46px; line-height: 46px;">Toll Acquirer 
                    Automation System</h1>
                <h3 style="color: rgb(255, 255, 255); font-size: 20px; line-height: 30px;">Settlement, reconciliation & dispute management 
                    enabling scalable solution designed for Acquirer Banks</h3>
            </div>
        </div>
        <div class="col-12 pt-4 sm-text-center">
            <a class="button button-primary" href="https://bfsi.bluepiit.com/toll-acquirer-automation-demo/" target="blank">Request a Demo</a>
          </div>
    </div>
</div>
<!-- End onova_about section -->