.page-services-single {
  h1.title {
    font-size: 3rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 40px;
        font-weight: 300;
      }
    }
  }
  .section-menu {
  }
  .section-menu-negative {
    @include media-breakpoint-up(md) {
      margin-top: -200px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -270px;
    }
  }
}
