---
layout: default
title: Media Coverage
subtitle:
meta_description: With large media coverage and large opportunities to get informatiom about technology innovation in retail & various industry.
body_classes: page-services-list
---
<div class="strip-primary-gradient">
  <div class="intro intro-big" style="padding-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1></h1>
          <p>{{ page.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-6"> {% include media_coverage.html %}</div>
</div>
{% include press_release.html %}