---
layout: default
title: Migration
subtitle: Trust our experts to tke you from strategy to value delivered
meta_description: With vast experience in application development, containerization, devops,cost optimisation and performance optimization, you can be assured of a speedy, efficient, secure migration to cloud.
body_classes: page-services-list
---

<!--start banner section-->
<div
  style="position: absolute; filter: brightness(0.6); background-image: url(/assets/images/cloud_migration.png); width: 100%; height: 530px;
        background-size: cover; background-position: center;">
</div>
<div class="container pb-6 cdp-head">
  {% include about_migration.html %}
</div>
<!--end banner section-->
<div class="navbar_wrap">
  <div class="navbar-cdp">
    <ul class="navbar-sco-ul">
      <!-- <li onclick="scrollToTop('whatwedo')"> What we do</li> -->
      <li onclick="scrollToTop('work')" style="width: 33.3%;"> Solutions</li>
      <li onclick="scrollToTop('case-study')" style="width: 33.3%;">Case Study</li>
      <li onclick="scrollToTop('retail-blog')" style="width: 33.3%;">Blog</li>
    </ul>
  </div>
</div>

<!-- start section 1 -->
<div class="strip strip-grey pt-6 pb-10 splash splash-one">
  <div class="container">
    <div class="row" style="margin-top: 1px;">
      <div class="col-12 {% if site.params.homepage.splash_one_image %}col-md-6{% else %}col-md-12{% endif %}"
        style="margin-top:0px" data-aos="fade-up">
        <!-- <h2>More Than 1000+<br>Stores Are Powered <br> by Us.</h2> -->
        <h3 style="font-weight: 800; font-size: 25px; padding-bottom: 14px;">
          Trust Our Experts To Take You From Strategy To Value Delivered
        </h3>
        <ul
          style="list-style-type: disc; list-style-position: outside; font-size: 19px; padding-left: 20px;">
          <li style="padding-bottom: 20px;">
            BluePi offers a comprehensive cloud migration offering.
          </li>
          <li style="padding-bottom: 20px;">
            With vast experience in application
            development, containerization, devops,cost optimisation and performance optimization, you can be
            assured of a speedy, efficient, secure migration to cloud.
          </li>
          <li style="padding-bottom: 20px;"> Right from assessment to planning and
            finally to migration, all of these are taken care by a team of experts who have migrated some of the
            biggest workloads in the industry.</li>
          <li style="padding-bottom: 20px;"> We leverage the best of discovery tools and our experts deliver
            an excellent experience through personalized solutions for your unique needs.</li>
        </ul>
        <!-- <div style="font-size: 19px; text-align: justify;">
            <p>
                BluePi offers a comprehensive cloud migration offering. With vast experience in application
                development, containerization, devops,cost optimisation and performance optimization, you can be
                assured of a speedy, efficient, secure migration to cloud. Right from assessment to planning and
                finally to migration, all of these are taken care by a team of experts who have migrated some of the
                biggest workloads in the industry. We leverage the best of discovery tools and our experts deliver
                an excellent experience through personalized solutions for your unique needs.
            </p>
        </div> -->
      </div>
      <div class="col-12 col-md-6 " style="padding-top: 7vw;" data-aos="fade-right">
        {% picture "{{relative_url}}/assets/images/migration_hero.png" --alt Migration %}
      </div>
    </div>

  </div>

</div>
<!-- end start section 1 -->


<!--start cdp-work section-->
<div class="strip strip-white" id="work">
  <div class="intro intro-big">
    <div class="container">
      <div class="row">
        <div class="col-12" data-aos="fade-up">
          <h3 class="text-center mb-3" style="text-transform: uppercase; letter-spacing: 4px;">Some of our impactful
            work
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="justify-content: center;">
      {% for migration in site.migration %}
      <div class="col-12 col-md-6 mb-3" data-aos="fade-up">
        <div class="service service-summary radius" style="align-items: center;
      background: #f5f5f5;">
          {% if migration.icon %}
          <div class="service-image">
            <img src="{{migration.icon | relative_url}}" />
          </div>
          {% endif %}
          <div class="service-title" style="font-size: 20px; text-align: center;">
            <h2>{{ migration.title }}</h2>
          </div>
          <div class="service-description" style="color: #4d606d; font-size: 19px;">
            <p>{{ migration.description }}</p>
          </div>
          <div class="service-content" style="color: #4d606d; font-size: 19px;">
            {{ migration.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--end cdp-work section-->

<!-- case-study section -->
{% include case-study.html %}

<!-- blog section -->
{% include retail-blog.html %}

<!-- contact-info section -->
{% include contact-cta.html
  heading=site.params.contact_cta.heading
  subheading=site.params.contact_cta.subheading
  button_url=site.params.contact_cta.button_url
  button_text=site.params.contact_cta.button_text
%}
